<section class="index">
  <%= link_to 'Add new word', routes.new_word_path %>

  <% if words.any? %>
    <% words.each do |word| %>
      <div class="word">
        <h3 class="word__en"><%= link_to word.en, routes.edit_word_path(word.id) %></h3>
        <span class="word__ja"><%= word.ja %></span> | 
        <span class="word_kana"><%= word.kana %></span> | 
        <span class="word_romaji"><%= word.romaji %></span>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">There are no dictionary entries yet.</p>
  <% end %>
</section> 